<footer>
  <h5>If you want to change somethings just change one time in this footer.hbs file. OMChuoi</h5>
  <p>Copyright {{getCurrentDate}} / {{getCurrentMonth}} / {{getCurrentYear}} (dd/mm/yyyy)</p>
</footer>
